@model IEnumerable<Mi_proyecto.Models.Producto>
@{
    ViewData["Title"] = "Catalogo";
}

<section id="catalogue" class="catalogue section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Nuestros Monturas</h2>
          <p data-aos="fade-in">Las mejores monturas para tus ojos</p>
        </div>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex" style="margin-left: 20%;">
      <input class="form-control me-2" style="width: 500px;" type="search" placeholder="Buscar" aria-label="Search" value=" @ViewData["Getemployeedetails"]" name="Empsearch">
      <button class="btn btn-outline-primary" type="submit">Buscar</button>
      <a style="margin-left: 1%;" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
</svg></a>
    </form>
  </div>
</nav> 

    <div class="row catalogue-container" data-aos="fade-up">

	@foreach (var item in Model)



	{
		<div class="col-lg-4 catalogue-item filter-app">
            <div style="text-align:center;" >
        		<img src="@item.imagen" class="card-img-top" alt="..." style=" height: 500px;">
            </div>
			<div class="catalogo" style="height: 250px;">
				<div style="text-align:center;" class="card-body" >
					<h5 class="card-title" style="color:#fdd067;">@Html.DisplayFor(modelItem => item.Marca)</h5>
						<p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
				<div style="margin-top: 30px;">
						<p style="text-align: center;"><a class="btn btn-primary" disabled><i class="icofont-price"></i> S/ @Html.DisplayFor(modelItem => item.Precio)</a></p>
						<div class="col" style="text-align: center;">
              <a asp-controller="Orden" asp-action="AddItem" asp-route-id="@item.ID" class="btn btn-primary"><i class="icofont-cart"></i> Agregar</a>
              <a asp-action="Info" asp-route-id="@item.ID" class="btn btn-primary"><i class="icofont-info-circle"></i> Leer más</a>
						</div>
				</div>
				</div>
			</div>
    </div>
	}


    </section>

<footer id="footer">

    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>San Francisco</h3>
            <p>Dirección:Peral 301 Cercado </p>
            <p>Telefono: +51 995553009</p>
          </div>
        </div>

        

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
 
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span> Copyright</span></strong>. Todos los derechos reservador
      </div>
      <div class="credits">
        Diseñado por <a href="#"> Bnos</a>
      </div>
    </div>
  </footer>	